<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    colors="true"
    cacheResult="false"
    testdox="true"
    failOnWarning="true"
    bootstrap="Tests/bootstrap.php"
>
    <coverage>
        <report>
            <html outputDirectory="public/test-coverage-report/"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Functional tests">
            <directory>Tests/Functional/</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory>Tests/Integration/</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory>Tests/Unit/</directory>
        </testsuite>
        <testsuite name="Feature tests">
            <directory>Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
